<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>Now Playing Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="card">
            <div class="cover-area">
                <img id="album-art" src="https://www.freeiconspng.com/uploads/music-note-icon-33.png" width="500" alt="Album Art">
            </div>
            <div class="info-area">
                <div class="text-group">
                    <h1 id="track-title">Loading...</h1>
                    <h2 id="track-artist">Please wait</h2>
                </div>
                <div class="status-badge" id="status-badge">Nothing Playing</div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>
